CREATE DATABASE QLKHO
USE QLKHO

/* TABLE HANG_HOA*/
CREATE TABLE HANG_HOA
(
	MA_HH NVARCHAR(50) NOT NULL,
	TEN_HH NVARCHAR(100),
	MA_NCC NVARCHAR(50),
	GIA_NHAP INT,
	GIA_XUAT INT,
	SO_LUONG INT
	PRIMARY KEY (MA_HH)
)

/* TABLE NHA_CUNG_CAP*/
CREATE TABLE NHA_CUNG_CAP
(
	MA_NCC NVARCHAR(50) NOT NULL,
	TEN_NCC NVARCHAR(100),
	DIACHI NVARCHAR(100),
	DIEN_THOAI NVARCHAR(20),
	EMAIL NVARCHAR(50),
	FAX NVARCHAR(50),
	MA_SO_THUE NVARCHAR(50),
	SO_TAI_KHOAN NVARCHAR(100)
	PRIMARY KEY (MA_NCC)
)

/*TABLE TON_DAU_KY*/
CREATE TABLE TON_DAU_KY
(
	MA_HH NVARCHAR(50) NOT NULL,
	SO_LUONG INT,
	DON_GIA INT,
	NGAY_TINH DATETIME,
	PRIMARY KEY (MA_HH)
)

/*TABLE PHIEU_NHAP*/
CREATE TABLE PHIEU_NHAP
(
	MA_PHIEU NVARCHAR(50) NOT NULL,
	NGAY_NHAP DATETIME,
	MA_NCC NVARCHAR(50),
	MA_HH NVARCHAR(50),
	SO_LUONG INT,
	DON_GIA INT,
	GHI_CHU NVARCHAR(100),
	TRANG_THAI BIT,
	PRIMARY KEY (MA_PHIEU)
)

/*TABLE PHIEU_XUAT*/
CREATE TABLE PHIEU_XUAT
(
	MA_PHIEU NVARCHAR(50) NOT NULL,
	NGAY_XUAT DATETIME,
	MA_NCC NVARCHAR(50),
	MA_HH NVARCHAR(50),
	SO_LUONG INT,
	DON_GIA INT,
	GHI_CHU NVARCHAR(100),
	TRANG_THAI BIT,
	PRIMARY KEY (MA_PHIEU)
)

/*TABLE KHO*/
CREATE TABLE KHO
(
	MA_KHO NVARCHAR(50),
	TEN_KHO NVARCHAR(50),
	DIA_CHI NVARCHAR(100),
	TRUONG_KHO NVARCHAR(50),
	PRIMARY KEY (MA_KHO)
)

/*TABLE PHIEU_XUAT_KHO*/
CREATE TABLE PHIEU_XUAT_KHO
(
	MA_PHIEU NVARCHAR(50) NOT NULL,
	NGAY_XUAT DATETIME,
	MA_NCC NVARCHAR(50),
	MA_HH NVARCHAR(50),
	SO_LUONG INT,
	DON_GIA INT,
	GHI_CHU NVARCHAR(100),
	TRANG_THAI BIT,
	PRIMARY KEY (MA_PHIEU)
)

/*TABLE BANG_KE_NHAP_HANG*/
CREATE TABLE BANG_KE_NHAP_HANG
(
	MA_BK NVARCHAR(50) NOT NULL,
	NGAY_KE DATETIME,
	MA_HH NVARCHAR(50),
	MA_NCC NVARCHAR(50),
	SO_LUONG INT,
	DON_GIA INT,
	TIEN INT,
	GHI_CHU NVARCHAR(100),
	TRANG_THAI BIT,
	PRIMARY KEY (MA_BK)
)


/*TABLE BANG_KE_XUAT_HANG*/
CREATE TABLE BANG_KE_XUAT_HANG
(
	MA_BK NVARCHAR(50) NOT NULL,
	NGAY_KE DATETIME,
	MA_HH NVARCHAR(50),
	MA_NCC NVARCHAR(50),
	SO_LUONG INT,
	DON_GIA INT,
	TIEN INT,
	GHI_CHU NVARCHAR(100),
	TRANG_THAI BIT,
	PRIMARY KEY (MA_BK)
)

/*TONG HOP NHAP XUAT TON*/
CREATE TABLE NHAP_XUAT_TON
(
	MA_HH NVARCHAR(50) NOT NULL,
	TON_DAU INT,
	NHAP INT,
	XUAT INT,
	TON_CUOI INT,
	PRIMARY KEY (MA_HH)
)

/*TABLE NHAN_VIEN*/
CREATE TABLE NHAN_VIEN
(
	MA_NV NVARCHAR(50) NOT NULL,
	TEN_NV NVARCHAR(50),
	CHUC_VU NVARCHAR(50),
	GIOI_TINH BIT,
	DIA_CHI NVARCHAR(100),
	DIEN_THOAI NVARCHAR(20),
	EMAIL NVARCHAR(50),
	PRIMARY KEY (MA_NV)
)

/*	THÊM KHÓA NGOẠI */
/* KHÓA NGOẠI MÃ NHÀ CUNG CẤP TỪ BẢNG HANG_HOA ĐẾN NHA_CUNG_CAP */
ALTER TABLE HANG_HOA
ADD CONSTRAINT FK_HANGHOA_NHACUNGCAP
FOREIGN KEY (MA_NCC)
REFERENCES NHA_CUNG_CAP(MA_NCC)

/* KHÓA NGOẠI MÃ HÀNG HÓA TỪ BẢNG TỒN ĐẦU KỲ ĐẾN HÀNG HÓA*/
ALTER TABLE TON_DAU_KY
ADD CONSTRAINT FK_TON_DAU_KY_HANG_HOA
FOREIGN KEY (MA_HH)
REFERENCES HANG_HOA(MA_HH)

/* KHÓA NGOẠI MÃ HÀNG HÓA TỪ BẢNG PHIẾU XUẤT ĐẾN HÀNG HÓA*/
ALTER TABLE PHIEU_XUAT
ADD CONSTRAINT FK_PHIEU_XUAT_HANG_HOA
FOREIGN KEY (MA_HH)
REFERENCES HANG_HOA(MA_HH)

/* KHÓA NGOẠI MÃ HÀNG HÓA TỪ BẢNG PHIẾU XUẤT ĐẾN NHÀ CUNG CẤP*/
ALTER TABLE PHIEU_XUAT
ADD CONSTRAINT FK_PHIEU_XUAT_NHA_CUNG_CAP
FOREIGN KEY (MA_NCC)
REFERENCES NHA_CUNG_CAP(MA_NCC)

/* KHÓA NGOẠI MÃ HÀNG HÓA TỪ BẢNG PHIẾU NHẬP ĐẾN HÀNG HÓA*/
ALTER TABLE PHIEU_NHAP
ADD CONSTRAINT FK_PHIEU_NHAP_HANG_HOA
FOREIGN KEY (MA_HH)
REFERENCES HANG_HOA(MA_HH)

/* KHÓA NGOẠI MÃ HÀNG HÓA TỪ BẢNG PHIẾU NHẬP ĐẾN NHÀ CUNG CẤP*/
ALTER TABLE PHIEU_NHAP
ADD CONSTRAINT FK_PHIEU_NHAP_NHA_CUNG_CAP
FOREIGN KEY (MA_NCC)
REFERENCES NHA_CUNG_CAP(MA_NCC)

/* KHÓA NGOẠI MÃ HÀNG HÓA TỪ BẢNG PHIẾU XUẤT KHO ĐẾN HÀNG HÓA*/
ALTER TABLE PHIEU_XUAT_KHO
ADD CONSTRAINT FK_PHIEU_XUAT_KHO_HANG_HOA
FOREIGN KEY (MA_HH)
REFERENCES HANG_HOA(MA_HH)

/* KHÓA NGOẠI MÃ HÀNG HÓA TỪ BẢNG PHIẾU XUẤT KHO ĐẾN NHÀ CUNG CẤP*/
ALTER TABLE PHIEU_XUAT_KHO
ADD CONSTRAINT FK_PHIEU_XUAT_KHO_NHA_CUNG_CAP
FOREIGN KEY (MA_NCC)
REFERENCES NHA_CUNG_CAP(MA_NCC)

/* KHÓA NGOẠI MÃ HÀNG HÓA TỪ BẢNG BẢNG KÊ XUẤT HÀNG ĐẾN HÀNG HÓA*/
ALTER TABLE BANG_KE_XUAT_HANG
ADD CONSTRAINT FK_BANG_KE_XUAT_HANG_HANG_HOA
FOREIGN KEY (MA_HH)
REFERENCES HANG_HOA(MA_HH)

/* KHÓA NGOẠI MÃ HÀNG HÓA TỪ BẢNG BẢNG KÊ XUẤT HÀNG ĐẾN NHÀ CUNG CẤP*/
ALTER TABLE BANG_KE_XUAT_HANG
ADD CONSTRAINT FK_BANG_KE_XUAT_HANG_NHA_CUNG_CAP
FOREIGN KEY (MA_NCC)
REFERENCES NHA_CUNG_CAP(MA_NCC)

/* KHÓA NGOẠI MÃ HÀNG HÓA TỪ BẢNG BẢNG KÊ NHẬP HÀNG ĐẾN HÀNG HÓA*/
ALTER TABLE BANG_KE_NHAP_HANG
ADD CONSTRAINT FK_BANG_KE_NHAP_HANG_HANG_HOA
FOREIGN KEY (MA_HH)
REFERENCES HANG_HOA(MA_HH)

/* KHÓA NGOẠI MÃ HÀNG HÓA TỪ BẢNG BẢNG KÊ NHẬP HÀNG ĐẾN NHÀ CUNG CẤP*/
ALTER TABLE BANG_KE_NHAP_HANG
ADD CONSTRAINT FK_BANG_KE_NHAP_HANG_NHA_CUNG_CAP
FOREIGN KEY (MA_NCC)
REFERENCES NHA_CUNG_CAP(MA_NCC)

/* KHÓA NGOẠI MÃ TRƯỞNG KHO TỪ BẢNG KHO ĐẾN BẢNG NHÂN VIÊN */
ALTER TABLE KHO
ADD CONSTRAINT FK_KHO_NHAN_VIEN
FOREIGN KEY (TRUONG_KHO)
REFERENCES NHAN_VIEN(MA_NV)


/* KHÓA NGOẠI HÀNG HÓA TỪ NHẬP XUẤT TỒN ĐẾN BẢNG HÀNG HÓA */
ALTER TABLE NHAP_XUAT_TON
ADD CONSTRAINT FK_NHAP_XUAT_TON_HANG_HOA
FOREIGN KEY (MA_HH)
REFERENCES HANG_HOA(MA_HH)

/*THÊM DỮ LIỆU*/

/*THÊM DỮ LIỆU VÀO BẢNG NHA_CUNG_CAP*/
INSERT INTO NHA_CUNG_CAP VALUES ('1',N'Viettel',N'Quận 1, TPHCM','01693926888','viettel@gmail.com','028999911','1234567891','193412347651')
INSERT INTO NHA_CUNG_CAP VALUES ('2',N'VNPT',N'Quận 2, TPHCM','01693926881','VNPT@gmail.com','028999912','1234567892','193412347652')
INSERT INTO NHA_CUNG_CAP VALUES ('3',N'Mobi',N'Quận 3, TPHCM','01693926882','Mobi@gmail.com','028999913','1234567893','193412347653')

/*THÊM DỮ LIỆU VÀO BẢNG HANG_HOA*/